<nav class="navbar navbar-expand bg-body-tertiary" data-bs-theme="dark">
  <div class="container-fluid">
    <ul class="navbar-nav mr-auto">
      <%= link_to 'Friend App', root_path, class:"navbar-brand"%>
      
      <li class="nav-item">
        <%= link_to "About Us", home_about_path, class:"nav-link"%>
      </li>
      <li class="nav-item">
         <%= link_to "Friends", friends_path, class:"nav-link" %>
      </li>

      <% if user_signed_in? %>
        <li class="nav-item">
         <%= link_to "Add Friend", new_friend_path, class:"nav-link" %>
      </li>
        <li class="nav-item">
          <%= link_to "Edit Profile", edit_user_registration_path, class:"nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class:"nav-link" %>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Sign Up", new_user_registration_path, class:"nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Sign In", new_user_session_path, class:"nav-link" %>
        </li>
      <% end %>
      
    <form class="d-flex" role="search">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
  </div>
</nav>
